In [8]:
##List
l = [1,34,544,"Mayur",True,5+7j,345.456]

In [9]:
l

[1, 34, 544, 'Mayur', True, (5+7j), 345.456]

In [10]:
type(l)

list

In [11]:
l[0]

1

In [12]:
l[6]

345.456

In [13]:
l

[1, 34, 544, 'Mayur', True, (5+7j), 345.456]

In [14]:
l[0:3]

[1, 34, 544]

In [15]:
l[-1]

345.456

In [20]:
l[::-1]

[345.456, (5+7j), True, 'Mayur', 544, 34, 1]

In [22]:
l[::2]

[1, 544, True, 345.456]

In [23]:
l

[1, 34, 544, 'Mayur', True, (5+7j), 345.456]

In [24]:
s = "pwskills"

In [25]:
l+s

TypeError: can only concatenate list (not "str") to list

In [28]:
list(s) +l

['p',
 'w',
 's',
 'k',
 'i',
 'l',
 'l',
 's',
 1,
 34,
 544,
 'Mayur',
 True,
 (5+7j),
 345.456]

In [29]:
l

[1, 34, 544, 'Mayur', True, (5+7j), 345.456]

In [32]:
l[3][:2]

'Ma'

In [33]:
l

[1, 34, 544, 'Mayur', True, (5+7j), 345.456]

In [34]:
l+5

TypeError: can only concatenate list (not "int") to list

In [35]:
l1=[3,4,5]

In [36]:
l+l1

[1, 34, 544, 'Mayur', True, (5+7j), 345.456, 3, 4, 5]

In [37]:
l1

[3, 4, 5]

In [38]:
l1*3

[3, 4, 5, 3, 4, 5, 3, 4, 5]

In [39]:
len(l)

7

In [40]:
l

[1, 34, 544, 'Mayur', True, (5+7j), 345.456]

In [41]:
l.append(5)

In [42]:
l

[1, 34, 544, 'Mayur', True, (5+7j), 345.456, 5]

In [43]:
l.append(s)

In [44]:
l

[1, 34, 544, 'Mayur', True, (5+7j), 345.456, 5, 'pwskills']

In [45]:
l1

[3, 4, 5]

In [46]:
l.append(l1)

In [47]:
l

[1, 34, 544, 'Mayur', True, (5+7j), 345.456, 5, 'pwskills', [3, 4, 5]]

In [49]:
l[9][1]

4

In [50]:
l.extend(4)

TypeError: 'int' object is not iterable

In [51]:
l.extend("mayu")

In [52]:
l

[1,
 34,
 544,
 'Mayur',
 True,
 (5+7j),
 345.456,
 5,
 'pwskills',
 [3, 4, 5],
 'm',
 'a',
 'y',
 'u']

In [53]:
l.extend([3,4,5])

In [54]:
l

[1,
 34,
 544,
 'Mayur',
 True,
 (5+7j),
 345.456,
 5,
 'pwskills',
 [3, 4, 5],
 'm',
 'a',
 'y',
 'u',
 3,
 4,
 5]

In [55]:
l1

[3, 4, 5]

In [56]:
l1.insert(1,"Mayur")

In [57]:
l1

[3, 'Mayur', 4, 5]

In [60]:
l1.insert(2,[2,3,4])

In [61]:
l1

[3, 'Mayur', [2, 3, 4], [2, 3, 4], 4, 5]

In [62]:
l1.pop()

5

In [63]:
l1

[3, 'Mayur', [2, 3, 4], [2, 3, 4], 4]

In [64]:
l1.pop(2)

[2, 3, 4]

In [65]:
l1

[3, 'Mayur', [2, 3, 4], 4]

In [67]:
l1.remove(3)

In [68]:
l1

['Mayur', [2, 3, 4], 4]

In [69]:
l1.remove()

TypeError: list.remove() takes exactly one argument (0 given)

In [70]:
l1[::-1]

[4, [2, 3, 4], 'Mayur']

In [71]:
l1.reverse()

In [72]:
l1

[4, [2, 3, 4], 'Mayur']

In [76]:
l2=[45,3,4,90,5,6,7,8,9]

In [77]:
l2.sort()

In [78]:
l2

[3, 4, 5, 6, 7, 8, 9, 45, 90]

In [79]:
l2

[3, 4, 5, 6, 7, 8, 9, 45, 90]

In [80]:
l3=[34,"Mayur",45,21,"Kumar"]

In [81]:
l3.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [82]:
l4=["mayu","kumar","pwskill","data science"]

In [83]:
l4.sort()

In [84]:
l4

['data science', 'kumar', 'mayu', 'pwskill']

In [85]:
l4.sort(reverse=True)

In [86]:
l4

['pwskill', 'mayu', 'kumar', 'data science']

In [88]:
l4.index("mayu")

1

In [89]:
l4.count("mayu")

1

In [90]:
s= "mayu"

In [91]:
l5=[3,4,5,6]

In [92]:
s[0]

'm'

In [93]:
s[0]="a"

TypeError: 'str' object does not support item assignment

In [94]:
l5

[3, 4, 5, 6]

In [96]:
l5[0]=30

In [97]:
l5

[30, 4, 5, 6]

In [98]:
s

'mayu'

In [99]:
s.replace("m","t")

'tayu'

In [100]:
s

'mayu'

In [103]:
##Tuple
t=(2,3,4,5,"mayu",45.56,False,45+6j,[3,4,5])

In [104]:
t

(2, 3, 4, 5, 'mayu', 45.56, False, (45+6j), [3, 4, 5])

In [105]:
type(t)

tuple

In [106]:
len(t)

9

In [107]:
t[3]

5

In [108]:
t[-1]

[3, 4, 5]

In [109]:
t[::-1]

([3, 4, 5], (45+6j), False, 45.56, 'mayu', 5, 4, 3, 2)

In [110]:
t

(2, 3, 4, 5, 'mayu', 45.56, False, (45+6j), [3, 4, 5])

In [111]:
l4

['pwskill', 'mayu', 'kumar', 'data science']

In [112]:
l4[0]

'pwskill'

In [113]:
l4[0]=2345

In [114]:
l4

[2345, 'mayu', 'kumar', 'data science']

In [115]:
t

(2, 3, 4, 5, 'mayu', 45.56, False, (45+6j), [3, 4, 5])

In [117]:
t[0]="mde"

TypeError: 'tuple' object does not support item assignment

In [118]:
t[0]=3

TypeError: 'tuple' object does not support item assignment

In [119]:
t[::-1]

([3, 4, 5], (45+6j), False, 45.56, 'mayu', 5, 4, 3, 2)

In [120]:
t.count("mayu")

1

In [121]:
t.index(False)

6

In [122]:
##Set
s1={}

In [123]:
type(s1)

dict

In [128]:
s2={2,3,44,5}

In [129]:
type(s2)

set

In [133]:
s3={123,456,34,"mayu",45+56j,34.67,(3,4,5)}

In [134]:
s3

{(3, 4, 5), (45+56j), 123, 34, 34.67, 456, 'mayu'}

In [137]:
s4={2,3,4,8,5,67,6,2,2,3,3,5,51,1,1,"Mayu","mayu"}

In [138]:
s4

{1, 2, 3, 4, 5, 51, 6, 67, 8, 'Mayu', 'mayu'}

In [139]:
l6=[2,3,4,8,5,67,6,2,2,3,3,5,51,1,1,"Mayu","mayu"]

In [143]:
l6=list(set(l6))

In [144]:
l6

[1, 2, 3, 4, 5, 67, 6, 8, 'Mayu', 51, 'mayu']

In [145]:
s5={234,45,23,12,567,3,789,234,"abc",456,345,34}

In [146]:
s5

{12, 23, 234, 3, 34, 345, 45, 456, 567, 789, 'abc'}

In [147]:
s5.add(444)

In [148]:
s5

{12, 23, 234, 3, 34, 345, 444, 45, 456, 567, 789, 'abc'}

In [149]:
s5.remove(23)

In [150]:
s5

{12, 234, 3, 34, 345, 444, 45, 456, 567, 789, 'abc'}